@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-400.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
}

body {
  width: 1200px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #F2F2F2;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
}

.navigation-link {
  color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  text-transform: capitalize;
}

.current-link {
  position: relative;
}

.current-link::before {
  position: absolute;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
  bottom: 0;
  content: "";
  z-index: 1;
}

.test {
  margin: 0;
  padding: 0;
  display: inline;
  padding-bottom: 18px;
  position: relative;
}

.navigation-link:hover .test {
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.navigation-link-search {
  padding: 28px 21px;
  display: block;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation-link-search:hover,
.navigation-link-like:hover {
  background-color: #f3f3f3;
  box-shadow: inset 0px 0px 3px 1px #d3d3d3;
}

.navigation-link-like {
  position: relative;
  padding: 28px 21px;
  display: block;
  background-image: url(../images/like.svg);
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center;

}

.navigation-item-big {
  background-color: #756157;
  border-radius: 4px;
  min-width: 160px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 19px;
  margin-left: 20px;
}

.navigation-link-big {
  border-radius: 4px;
  display: block;
  padding: 9px 15px 8px 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navigation-link-big:hover {
  background-color: #615048;
}

.navigation-link-big:focus {
  background-color: #615048;
  outline: none;
}

.navigation-link-big:focus-visible {
  outline: 3px solid #83B3D3;
}

.navigation-link-big:active {
  background-color: #756157;
  color: #FFFFFF;
  opacity: 30%;
}

.navigation-item a {
  display: block;
  padding: 20px 17px;
}

.navigation-item-right {
  margin-bottom: 5px;
  position: relative;
  align-self: center;
}

.liked-number {
  position: absolute;
  color: white;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  vertical-align: bottom;
  border-radius: 50%;
  background-color: #7DB54F;
  width: 20px;
  height: 20px;
  top: 10px;
  right: -2px;
}

.intro-big {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-color: #756157;
}

.intro-big::after {
  position: absolute;
  width: auto;
  content: url(../images/divider.svg);
  bottom: -5px;
}

.darkblue-advantage {
  width: 400px;
  background-color: #82B3D3;
}

.lightblue-advantage {
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.33%;
  padding-bottom: 102px;
}

.lightblue-advantage h3 {
  margin: 103px auto 0 auto;
  width: 130px;

}

.lightblue-advantage p {
  width: 230px;
  margin: 28px auto 0 auto;
  line-height: 21px;
}

.white-advantage {
  background-color: white;
  width: 33.33%;
}

.white-advantage p {
  line-height: 21px;
}

.blue-advantage {
  background-color: rgba(131, 179, 211, 0.2);
  width: 33.33%;
}

.blue-advantage h3 {
  margin: 103px auto 0 auto;
  width: 130px;
}

.blue-advantage p {
  width: 230px;
  margin: 28px auto 0 auto;
}


.subscribe {
  color: white;
  background-color: #82B3D3;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe form {
  margin-top: 46px;
}

.subscribe b {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribe p {
  font-size: 22px;
  line-height: 26px;
  margin-top: 29px;
  width: 475px;
  margin-left: auto;
  margin-right: auto;
}

.intro .big-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: black;
  text-transform: uppercase;
}

.intro p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.intro {
  padding-bottom: 90px;
}

.advantages h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: black;
}

.advantages-list {
  padding: 0;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-first {
  display: flex;
  padding: 0;
  margin: 0px;
  list-style: none;
}

.advantages-first h3 {
  margin: 30px auto 0 auto;
}

.advantages-first p {
  margin: 30px auto 0 auto;
  width: 230px;
}

.advantages-first li {
  min-width: 400px;
  padding-bottom: 81px;
}

.darkblue-advantage h3 {
  margin: 92px auto 0 auto;
  color: white;
  width: 230px;
}

.darkblue-advantage p {
  margin: 28px auto 0px auto;
  color: white;
  max-width: 240px;
}

.sic b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}

.sic p {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  width: 600px;
  font-size: 22px;
  line-height: 26px;
  padding-left: 0px;
}

.siclink {
  border-radius: 4px;
  background-color: #756157;
  color: white;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 56px auto 0 auto;
  width: 574px;
}

.siclink a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 12px 15px;
  border-radius: 4px;
}

.siclink a:hover {
  background-color: #615048;

}

.siclink a:focus {
  background-color: #615048;
  outline: none;
}

.siclink a:focus-visible {
  outline: 3px solid #83B3D3;
}

.siclink a:active {
  background-color: #756157;
  color: #FFFFFF;
  opacity: 30%;

}

.contacts-phone {
  margin-top: 45px;
  margin-bottom: 35px;
  display: block;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
  margin-left: 236px;
  margin-right: auto;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.subscribe-catalog b {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.subscribe-catalog p {
  font-size: 22px;
  line-height: 26px;
  margin: 29px auto 0 auto;
  width: 480px;
  text-align: center;
}

.subscribe-catalog form {
  margin-top: 46px;
  margin-bottom: 94px;
}

.filter {
  background-image: url(../images/filterbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #756157;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin: 0px;
}

.results b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: black;
}

.hotel-item h3 {
  max-width: 290px;
  margin: 0;
  margin-top: 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: black;
  grid-column: 1/-1;
}

.hotel-item p {
  text-transform: capitalize;
  margin: 0;
  margin-top: 16px;
  line-height: 21px;
}

.moar {
  background-color: #756157;
  border-radius: 4px;
  text-align: center;
  margin-top: 16px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.button-disabled {
  background-color: #E5E5E5;
}

.moar:hover a {
  background-color: #615048;
}

.moar:active a {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.moar a:focus {
  background-color: #615048;
}

.moar:disabled {
  background-color: #E5E5E5;
}

.moar a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  border-radius: 4px;
}

.addfavorite {
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  margin-top: 16px;
}

.addfavorite a {
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  display: block;
  border-radius: 4px;
}

.addfavorite:hover a {
  background-color: #68A2CA;
}

.addfavorite a:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.addfavorite a:focus {
  background-color: #68A2CA;
}

.infavorite {
  background-color: #7DB54F;
  margin-top: 16px;
  border-radius: 4px;
}

.infavorite a {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 15px 8px 15px;
  text-align: center;
  border-radius: 4px;
}

.infavorite a:hover {
  background-color: #6C9E42;
}

.infavorite a:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.infavorite a:focus {
  background-color: #6C9E42;
}

.rates {
  background-color: #F2F2F2;
  border-radius: 4px;
  margin-top: 16px;
}

.rates p {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 8px 23px;
}

.pagelist a {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 11px 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pagelist-item {
  background-color: #82B3D3;
}

.pagelist-item:hover a {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagelist-item:active a {
  background-color: #82B3D3;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.3);
}

.pagelist-item a:focus {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagelist select {
  margin-right: 71px;
}

.current-page {
  color: black;
  background-color: #F2F2F2;
}
.current-page:hover a{color: black;
  background-color: #F2F2F2;}

.current-page a {
  color: black;
}

.hidden-text {
  display: none;
}

.navigation-list {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.navigation-right {
  display: flex;
  margin: 0 70px 0 auto;
  list-style: none;
}

.logo {
  z-index: 1;
  margin-left: 70px;
}

.logo img {
  display: block;
}

.main-logo {
  display: block;
  margin: auto auto;
}

.big-text {
  width: 620px;
  text-align: center;
  margin: 63px auto auto;
}

.small-text {
  width: 660px;
  margin: 31px auto auto;
  padding-left: 7px;
}

.wrapflexone {
  display: flex;
  flex-wrap: wrap;
}

.wrapflextwo {
  display: flex;
}

.sic {
  padding-bottom: 93px;
  text-align: center;
}

.sic b {
  display: block;
  margin-top: 91px;
}

.sic p {
  margin-top: 29px;
}

.footer {
  display: flex;
  margin: auto 70px;
}

.footer-link {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-self: center;
}

.footer-link li {
  margin-top: 15px;
}

.advantages {
  text-align: center;
}

.bread-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 21px;
}

.filter-bread {
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 8px 0 0 3px;
}

.breadsvg {
  fill: white;
}

.bread-item:first-child:after {
  content: url(../images/breadway.svg);
  margin-left: 8px;
}

.bread-item:not(:first-child) {
  margin-left: 10px;
}

.bread-link:hover .breadsvg {
  fill: rgba(255, 255, 255, 0.6);
}

.bread-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.bread-link:active .breadsvg {
  fill: rgba(255, 255, 255, 0.3);
}

.bread-link:active {

  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}

.catalog-filter-title {
  padding: 0;
}

.catalog-filter-group {
  margin: 0;
  border: none;
  padding: 0;
  vertical-align: top;
}

.catalog-filter-group:nth-child(2) {
  margin-left: 72px;
}

.checkbox-wrapper {
  position: relative;
  margin-top: 13px;
}

.checkbox-wrapper:first-of-type {
  margin-top: 30px;
}

.filter-wrapper {
  margin: 0 70px 0 70px;

}

.checkbox-point {
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  vertical-align: top;
}

.price-range {
  margin-left: 177px;
}

.checkbox-point:hover {
  color: rgba(255, 255, 255, 0.6);
}

.checkbox-point:hover .checkbox-field {
  background-color: #ffffff;
  opacity: 0.6;
}

.checkbox-point:active .checkbox-field {
  background-color: #FFFFFF;
  opacity: 0.3;
}

.checkbox-field {
  border-radius: 4px;
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: white;
}

.infrastucture[type="checkbox"]:checked+.checkbox-field::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #3F5E72;
  position: absolute;
}

.infrastucture[type="checkbox"]:focus-visible+.checkbox-field {
  outline: 3px solid #68A2CA;
}

.radio-wrapper:first-of-type {
  margin-top: 30px;
}

.radio-wrapper {
  margin-top: 13px;
}

.radio-point {
  padding-left: 39px;
  position: relative;
}

.radio-point:hover {
  color: rgba(255, 255, 255, 0.6);
}

.radio-point:hover .radio-field {
  background-color: #dfdfdf;
}

.radio-field {
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
}

.type-radio[type="radio"]:checked+.radio-field::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  left: 25%;
  top: 25%;
  border-radius: 50%;
}

.type-radio[type="radio"]:focus-visible+.radio-field {
  outline: 3px solid #68A2CA;
}

.price-wrapper {
  position: relative;
  display: flex;
  margin-top: 34px;
}

.minimal-price {
  display: block;
  font-family: "PT Sans";
  box-sizing: border-box;
  width: 145px;
  border: 2px solid white;
  border-radius: 4px 0px 0px 4px;
  background-color: transparent;
  margin-right: -1px;
  color: white;
  font-size: 18px;
  line-height: 21px;
  height: 48px;
  padding-left: 17px;
}

.minimal-price:hover {
  opacity: 0.6;
}

.minimal-price:focus-visible {
  outline: 3px solid #68A2CA;
}

.minimal-price:active {
  background-color: #756257;
}

.minimal-price::-webkit-inner-spin-button,
.minimal-price::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.maximum-price {
  display: block;
  font-family: "PT Sans";
  box-sizing: border-box;
  width: 145px;
  border: 2px solid white;
  border-radius: 0px 4px 4px 0px;
  background-color: transparent;
  margin-left: -1px;
  color: white;
  font-size: 18px;
  line-height: 21px;
  height: 48px;
  padding-left: 15px;
}

.maximum-price:hover {
  opacity: 0.6;
}

.maximum-price:focus-visible {
  outline: 3px solid #68A2CA;
}

.maximum-price:active {
  background-color: #756257;
}

.maximum-price::-webkit-inner-spin-button,
.minimal-price::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.price-line {
  position: relative;
  height: 4px;
  width: 288px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.price-active-line {
  position: absolute;
  height: 4px;
  background-color: white;
}

.change-min-price {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  position: absolute;
  left: 0;
  top: -8px;
}

.change-min-price:hover {
  background-color: #dfdfdf;
}

.change-min-price:focus-visible {
  outline: 3px solid #83B3D3;
}

.change-min-price:active {
  background-color: #ffffff;
  outline: 2px solid #83B3D3;
}

.change-max-price {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  position: absolute;
  right: 0;
  top: -8px
}

.change-max-price:hover {
  background-color: #dfdfdf;
}

.change-max-price:focus-visible {
  outline: 3px solid #83B3D3;
}

.change-max-price:active {
  background-color: #ffffff;
  outline: 2px solid #83B3D3;
}

.apply-catalog {
  width: 160px;
  display: block;
  margin-top: 60px;
  padding: 14px 15px 14px 15px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: #82B3D3;
  font-family: "PT Sans";
}

.apply-catalog:hover {
  background-color: #68A2CA;
}

.apply-catalog:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.from-cost,
.to-cost {
  position: absolute;
}

.from-cost {
  left: 113px;
  top: 10px;
  opacity: 0.3;
}

.to-cost {
  left: 251px;
  top: 10px;
  opacity: 0.3;
}

.cancel-catalog {
  border-radius: 4px;
  font-family: "PT Sans";
  display: block;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.cancel-catalog:hover {
  color: #ffffff;
  opacity: 0.6;
}

.cancel-catalog:active {
  color: #ffffff;
  opacity: 0.3;
}

.cancel-catalog:focus-visible {
  outline: 3px solid #83B3D3;
}

.filter-wrapper h1 {
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.result-header {
  background-color: white;
  display: flex;
  margin: 52px 71px 0px 72px;
  justify-content: flex-start;
}

.result-header b {
  display: block;
  text-transform: uppercase;
  align-self: center;
}

.sort {
  box-sizing: border-box;
  appearance: none;
  margin-left: 191px;
  background-image: url(../images/arrowselect.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 102px;
  padding-left: 20px;
  font: inherit;
  font-size: 18px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  background-color: transparent;
}

.sort:hover {
  border-color: #68A2CA;
}

.sort:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.sort:active {
  border-color: #3F5E72;
}

.sort:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.num-onpage {
  font-family: "PT Sans";
  line-height: 21px;
  font-size: 18px;
  width: 160px;
  height: 50px;
  padding: 14px 0 14px 20px;
  border-radius: 4px;
  appearance: none;
  background-image: url(../images/arrowselect.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  border: 2px solid rgba(229, 229, 229, 1);
  margin-right: 0;
  background-color: transparent;
}

.num-onpage:hover {
  border-color: #68A2CA;
}

.num-onpage:focus-visible {
  border-color: #68A2CA;
  outline: none;
}

.num-onpage:active {
  border-color: #3F5E72;
}

.num-onpage:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}


.view-mode {
  padding: 22px;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.view-mode-table {
  background-image: url(../images/icontable.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  border-color: black;
}

.view-mode-slide {
  background-image: url(../images/iconslideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
  border-color: #E5E5E5;
}

.view-mode-slide:hover {
  border-color: black;
}

.view-mode-slide:focus {
  border-color: #68A2CA;
  outline: none;
}

.view-mode-list {
  background-image: url(../images/iconlist.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
  border-color: #E5E5E5;
}

.view-mode-list:hover {
  border-color: black;
}

.view-mode-list:focus {
  border-color: #68A2CA;
  outline: none;
}

.view-mode:active {
  border-color: black;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-wrapper {
  margin-left: 73px;
  margin-right: 73px;
  margin-top: 59px;
  margin-bottom: 66px;
}

.hotel-item {
  padding: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 19px;
}

.hotel-item img {
  grid-column: 1/-1;
}

.hotel-item span {
  display: block;
  margin-top: 16px;
}

.pagelist {
  margin-left: 73px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  list-style: none;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
}

.pagelist .pagelist-item {
  width: 60px;
  margin-right: 8px;
  border-radius: 4px;
}

.count {
  margin: 0 0 0 auto;
  align-self: center;
  padding-right: 51px;
}

.subscribe-catalog {
  background-color: white;
  text-align: center;
}

.subscribe-catalog b {
  display: block;
  margin-top: 119px;
}


.icon {
  margin-top: 78px;
  display: block;
  min-height: 76px;
  min-width: 80px;
  background-position: center;
}

.icon-house {
  background-image: url(../images/iconhouse.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
}

.icon-meal {
  background-image: url(../images/iconmeal.svg);
  background-repeat: no-repeat;
  background-size: 74px 70px;

}

.icon-gifts {
  background-image: url(../images/icongifts.svg);
  background-repeat: no-repeat;
  background-size: 64px 76px;

}

.html-logo {
  margin-top: 49px;
  display: block;
  margin-left: auto;
}

.header-wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.footer-wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.main-wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  margin-top: -5px;
  background-color: white;
}

.catalog-main-wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -5px;
  background-color: white;
}

.catalog-button-wrapper {
  margin-left: 70px;
}

.social {
  position: relative;
  display: block;
  width: 48px;
  min-height: 16px;
  /* padding: 10px 5px; */
}

.svgfooter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}

.social:hover .svgfooter {
  fill: #68A2CA;
}

.social:focus {
  outline: none;

}

.social:focus .svgfooter {
  fill: #68A2CA;
}

.social:active .svgfooter {
  fill: rgba(104, 162, 202, 0.3);
}

.html-logosvg {
  fill: black;
}

.html-logo:hover .html-logosvg {
  fill: #756157;
}

.html-logo:focus {
  outline: none;
}

.html-logo:focus .html-logosvg {
  fill: #756157;
}

.html-logo:active .html-logosvg {
  fill: rgba(117, 97, 87, 0.3);
}

.rates-area {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-top: 16px;
}

.rates-star {
  padding: 9px;
  background-image: url(../images/stars.svg);
  background-repeat: no-repeat;
  margin-top: 10px;
}

.rates-star:not(:first-child) {
  margin-left: 6px;
}

.subscribe-form {
  display: flex;
  margin-left: 200px;
  margin-right: 200px;

}

.subscribe-email {
  box-sizing: border-box;
  font-family: "PT Sans";
  font-size: 18px;
  line-height: 21px;
  padding: 20px 0px 19px 22px;
  width: 600px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.6);
}

.subscribe-email:hover,
.subscribe-email:focus {
  background-color: #dddddd;
}

.subscribe-submit {
  box-sizing: border-box;
  width: 200px;
  border: none;
  padding: 12px 15px;
  border-radius: 0px 10px 10px 0px;
  text-transform: uppercase;
  background-color: #82B3D3;
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 36px;
  color: white;
  font-weight: 700;
}

.subscribe-submit:hover,
.subscribe-submit:focus {
  background-color: #68A2CA;
}

.subscribe-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}





.modal-head {
  display: flex;
  justify-content: start;
}

.modal-head h3 {
  font-family: "PT Sans";
  line-height: 49px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}

.modal-close {
  display: flex;
  border-radius: 50%;
  width: 53px;
  height: 53px;
  border: none;
  margin-left: auto;
  background-color: #F2F2F2;
}

.modal-number-input:focus {
  outline: 3px solid #83B3D3;
}

.modal-close svg {
  z-index: 1;
  fill: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-close:hover {
  background-color: #E6E6E6;
}

.modal-close:active svg {
  background-color: #E6E6E6;
  fill: rgba(0, 0, 0, 0.3);
}

.modal-form-label {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  align-self: center;
}

.modal-number-form-label {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
}

.modal-number-form-label:first-of-type {
  margin-right: auto;
}

.people-wrapper {
  grid-column: 1/span 3;
  display: flex;
  padding-right: 33px;
  height: 50px;
}

.modal-input {
  font-family: "PT Sans";
  grid-column: 2/span 2;
  font-size: 18px;
  font-weight: 700;
  align-self: end;
  justify-self: start;
  width: 420px;
  box-sizing: border-box;
  padding: 15px 19px;
  border-radius: 4px;
  background-color: #F2F2F2;
  border: none;
  color: rgba(0, 0, 0, 0.6);
}

.modal-input:hover {
  border: none;
  outline: none;
  background-color: #E6E6E6;
}

.modal-input:focus {
  outline: 3px solid #83B3D3;
}

.modal-input:active {
  outline: 3px solid black;
  color: black;
}

.modal-span {
  grid-column: 2/span 2;
  font-size: 16px;
  line-height: 21px;
  display: block;
  padding-top: 6px;
  padding-bottom: 11px;

}

.modal-form button {
  grid-column: 1/span 3;
}

.modal-error {
  color: rgba(255, 87, 87, 1);
}

.modal-accept {
  color: #000;
}

.modal-form {
  display: grid;
  grid-template-columns: 120px 133px 287px;
  column-gap: 34px;
  margin-top: 54px;
}

.modal-number-input {
  width: 133px;
  border: none;
  color: black;
  background-color: #F2F2F2;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 0px 15px 61px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 400;
}

.modal-number-input::-webkit-outer-spin-button,
.modal-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-search {
  box-sizing: border-box;
  width: 575px;
  margin-top: 40px;
  display: block;
  background-color: #83B3D3;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
}

.modal-search:hover {
  background-color: #68A2CA;
}

.modal-search:focus {
  outline: 2px solid #756257;
}

.modal-search:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}



.old-number {
  margin-left: 64px;
}

.child-number {
  margin-left: 43px;
}

.tooltip-wrapper {
  position: relative;
  margin-right: 6px;
  margin-bottom: 3px;
}

.tooltip {
  padding: 0;
  position: absolute;
  top: 13px;
  left: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url(../images/iicon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip:hover {
  background-color: #68A2CA;
}

.tooltip:hover+.tooltip-text {
  display: block;
}

.minus {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 101px;
  top: 20px;
  border: none;
}

.minus svg {
  left: 0;
  top: 50%;
  position: absolute;
  fill: rgba(0, 0, 0, 0.3);
}

.plus {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 19px;
  top: 18px;
  border: none;
}

.plus svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: rgba(0, 0, 0, 0.3);
}

.minus:hover svg {
  fill: black;
}

.minus:focus {
  outline: 3px solid #83B3D3;
  border-radius: 3px;
}

.minus:focus svg {
  fill: black;
}

.minus:active svg {
  fill: rgba(0, 0, 0, 0.3)
}

.minus:active {
  outline: none;
}

.plus:hover svg {
  fill: rgba(0, 0, 0, 1);
}

.plus:focus {
  outline: 3px solid #83B3D3;
  border-radius: 3px;
}

.plus:focus svg {
  fill: black;
}

.plus:active svg {
  fill: rgba(0, 0, 0, 0.3)
}

.plus:active {
  outline: none;
}

.tooltip-text {
  background-color: #333333;
  width: 256px;
  border-radius: 10px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 18px;
  left: -155px;
  top: 45px;
  display: none;
}

.tooltip:hover .tooltip-text {
  display: block;
}



.modal-screen {
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-view {
  display: flex;
}

.modal-window {
  position: relative;
  width: 715px;
  height: 561px;
  box-sizing: border-box;
  align-self: flex-start;
  background-color: white;
  padding: 54px 70px 70px 70px;
  border-radius: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.label-name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  align-self: center;
}

.logo:focus-visible {
  outline: 3px solid #83B3D3;
}

.navigation-link:focus-visible {
  outline: 3px solid #83B3D3;
}

.calendar {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/calendar.svg);
  opacity: 0.25;
  left: 612px;
  top: 180px;
  border: none;
}

.calendar2 {
  border: none;
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(../images/calendar.svg);
  opacity: 0.25;
  left: 612px;
  top: 270px;
}
.calendar:hover {cursor: pointer;}
.calendar2:hover {cursor: pointer;}
